.fullpage {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
    
@font-face {
    font-family:'Rhesmanisa';
    src: url("rhesmanisa/rhesmanisa.otf")
    format('opentype');
}

@font-face {
    font-family:'Montserrat-Thin';
    src: url("Montserrat/Montserrat-Thin.ttf")
    format('truetype');
}

.addPanel {
    background-color: #238f77;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-wrap: wrap;
}


h2 {
    font-family:'Montserrat';
    font-size:28px;
    padding-top:15px;
    color: #fff;
}

h2#tasks {
    color: #1d1d1d;
    flex: 1;
    padding: 0px;
}

h3 {
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h4 {
    font-size:18px;
    padding-bottom: 10px;
}

.mainArea {
    padding:0%;
}

#tHeaders {
    display:flex;
    vertical-align: center;
}

.lhn {
    background-color:#1d1d1d;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#addNew{
    width:100%;
    display: flex;
}

#writeTaskName {
   flex:1;
   height:40px;
   border-radius: 4px;
   border-style: solid;
   border-width: 2px;
   border-color: #ffcf2f;
   margin-right:20px;
   margin-bottom: 20px;
   padding-left: 20px;
    padding-right: 20px;
}

#date {
    flex:1;
    height:40px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffcf2f;
    margin-right:20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 400px;
 }

 .btn#add{
    flex:1;
    height:40px;
    background-color: #ffcf2f;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    border-width: 0px;
    color: #1d1d1d;
    font-size:18px;
    max-width: 200px;
 }

 .btn#sort{
    height:40px;
    background-color: #4abb99;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    border-width: 0px;
    color: #1d1d1d;
    font-size:18px;
    max-width: 200px;
    flex: 1;
 }
 
#menuheading {
    padding-left:30px;
}

ul {
    font-size:16px;
    line-height: 35px;
    list-style: none;
    padding-left: 0px;
}

.strike {
    text-decoration: line-through;
}

.li {
    display: flex;
}

.liNew {
    margin-bottom: 20px;
    margin-top: 20px;
}

.dateCol {
    margin-left: 40px;
}

.remove {
    margin-left: 20px;
    border-radius: 3px;
    background-color: rgb(161, 161, 161);
    border-style: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    float: right;
}

.done {
    margin-right: 20px;
}

a:link {
    color: rgb(255, 255, 255);
}
  
a:visited {
    color: rgb(192, 192, 192);
}
  
a:hover {
    color: #0fc286;
}

a {
    text-decoration: none;
}

.btn#Add:hover {
    background-color: #ff9a15
}

.content {
    background-color: #efefef;
}    

a#backtotop:link {
    color: #9e4e38;
}

a#backtotop:visited {
    color: #9e4e38;
}

a#backtotop:hover {
    color: #fbad8e;
}

@media only screen and (max-width: 1430px) {

}

@media only screen and (max-width: 1199px) {
   .headerpanel {
       vertical-align: middle;
    }
}    

@media only screen and (max-width: 991px) {
   .headerpanel {
        vertical-align: middle;
    } 

    .content {
        width:100%;
        padding-left: 4%;
        padding-right: 4%;
    }   
}

@media only screen and (max-width: 767px) {
    .headerpanel {
        vertical-align: none;
    }

    .content {
        width:100%;
        padding-left: 4%;
        padding-right: 4%;
    }   
}

